/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark{
  background-color: #25293c !important;
}
.dark-2{
  background-color: #2f3349 !important;
}

main{
  min-height: 100vh;
}

.container-body{
  margin-top: 98px;
}
.body-card{
  /*height: 34rem;*/
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
